@font-face {
  font-family: "iconfont"; /* Project id 3880065 */
  src: url('../fonts/iconfont.woff2?t=1675491658301') format('woff2'),
       url('../fonts/iconfont.woff?t=1675491658301') format('woff'),
       url('../fonts/iconfont.ttf?t=1675491658301') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taobaotese:before {
  content: "\e600";
}

.icon-bangzhu:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-xiangxia:before {
  content: "\e603";
}

.icon-taobaowang:before {
  content: "\e604";
}

.icon-shoucang1:before {
  content: "\e605";
}

.icon-gouwuchexuanzhong:before {
  content: "\e606";
}

.icon-nvzhuang:before {
  content: "\e60f";
}

.icon-dianpu:before {
  content: "\e736";
}

.icon-fankui:before {
  content: "\e60c";
}

.icon-dunpai:before {
  content: "\e645";
}

.icon-meizhuangleimu:before {
  content: "\e6e6";
}

.icon-nanzhuangleimu:before {
  content: "\e6f6";
}

.icon-weibiaoti2fuzhi13:before {
  content: "\e61b";
}

.icon-xiezi:before {
  content: "\e621";
}

.icon-yingtao:before {
  content: "\e612";
}

.icon-daifukuan:before {
  content: "\e63f";
}

.icon-shouji:before {
  content: "\e607";
}

.icon-xiaoxi:before {
  content: "\eb42";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-yiyaoxiang:before {
  content: "\e60d";
}

.icon-shijian:before {
  content: "\e8b8";
}

.icon-baobao:before {
  content: "\e73d";
}

.icon-jubao:before {
  content: "\e723";
}

